/* CSS Document */
*,body{margin:0; padding:0; font-family: Arial,微软雅黑, MS Yahei, sans-serif;}
body{background:#f9f9f9;}
html {font-size: 12px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
a, a:active, a:visited{outline: 0; text-decoration:none; color:#000;}
a:focus {outline: 0;outline-offset: -2px;}
a:hover{ color:#E95E58;}
sub,sup {position: relative; font-size: 75%; line-height: 0; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {max-width: 100%;vertical-align: middle;border: 0;-ms-interpolation-mode: bicubic;}
button,input,select,textarea { margin: 0; font-size: 100%; vertical-align: middle;padding: 0;}
button,input { *overflow: visible; line-height: normal; border: 0;}
textarea { overflow: auto; vertical-align: top;}
ul li{list-style:none;}
.container{background:#f9f9f9; clear:both;}
.content{width:1024px; margin-left:auto; margin-right:auto;}
.left{float:left;}
.right{float:right;}
.hide{display:none;}
.clearfix { *zoom: 1;clear: both;}
.red{color:#c33;}
.blue{color:#19a6f5;}
.green{color: #458746}
.yellow{color: #f99406}
#ajax_wait{width:16px; height:11px; padding:6px 40px; display:none; position:absolute; top:35%; left:50%; margin-left:-48px; margin-top:-11px; background:rgba(0,0,0,.4); transition: all ease-in .3s; -o-transition: all ease-in .3s; -moz-transition: all ease-in .3s; -webkit-transition: all ease-in .3s;}
.breadcrumb a{margin-left:5px; margin-right:5px;}

/* header */
.top_nav{width:100%;height:31px; background:#eee;}
.top_nav_left,.top_nav_right{line-height:31px;}
.top_nav_left{}
.top_nav_left a,.top_nav_right a{margin-left:20px; margin-right:20px;}
.header{width:100%;height:46px;background:#fff;}
.logo{width:96px; height:46px; float:left;}
.headline{width:100%;height:3px;background:#00479D;}
.nav_bar{float:right; width:828px;}
.nav_list{margin-left:20px;}
.nav_list li{float:left;}
.nav_list li a{display:block;height:46px; line-height:46px; padding:0 12px; font-size:16px;}
.nav_list li a.active{color:#E95E58;}
.nav_search{margin-right:20px; padding:10px 0;width:334px;}
.search_inp{border:0; height:20px; line-height: 20px; padding:2px 5px;width:190px; border:1px solid #E7E7E7; float:left;}
.search_filter{position:relative; width:70px; height:24px; line-height:24px; float:left; text-align:center; border-top:1px solid #E7E7E7; border-bottom:1px solid #E7E7E7; cursor: default;}
.filter_type{position:absolute; left:-1px; top:24px; width:70px; border-top:1px solid #fff; border-left:1px solid #E7E7E7; border-right:1px solid #E7E7E7; border-bottom:1px solid #E7E7E7; background:#fff;}
.off .filter_type{display:none;}
.filter_type li:hover{background:#039; color:#fff;}
.search_btn{width:60px; height:24px; line-height:24px; float:left; text-align:center; border:1px solid #E7E7E7; cursor:pointer; background:#eee;}


/* footer */
.footer{width:100%;}
.footer1{width:100%;background:#00479d;}
.footer2{width:100%;background:#002e73;}
.foot_links{line-height:40px;color:#fff;}
.foot_links a{color:#fff;margin-left:5px;margin-right:5px;}
.licence{color:#FACD89; margin:0; padding:0; line-height:55px; font-size:15px; text-indent:5px;}

/* public */
.box{border:1px solid #bfbfbf; border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px;background:#fff; }
.box_title{height:42px; padding-left:36px; font-size:18px; font-weight:bold; line-height:42px; background:url(../image/title-bg.jpg) repeat-x;}
.box_content{padding:20px 0;}
.helpline{display:none; padding-left:16px;margin-left:5px;background-image:url(../image/helpline.png); background-repeat:no-repeat; line-height:16px; font-size:10px; letter-spacing:-0.05em;}
.helpline.error{display:inline; background-position:0 0; color:#c33;}
.helpline.success{display:inline; background-position:0 -16px; color:#090;}
.btn{background:#ED6059; color:#fff !important; box-shadow:inset rgba(0,0,0,0.1) 4px 4px 6px;border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; text-align:center; padding:3px 10px; cursor:pointer;}
.input_group{padding:8px 10px;}
.input_group label{width:60px; text-align:right;float:left;padding:4px 0;}
.input_control{margin-left:65px;}
.inp{border:1px solid #d0d0d0;padding:3px;width:150px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px;}
.inp-mid{width:300px;}
.inp-lag{width:480px;}
.inp.error{border:1px solid #C33;padding:3px;}

.success_box, .error_box{margin:50px auto 80px auto; width:800px;}
.success_content, .error_content{padding:50px 150px; width:500px;}
.success_title, .error_title{margin-bottom:20px;}
.error_title{color:#C33;}
.success_title{colosr:#090;}
.tips{color:#ccc; font-size:10px;}
.inp-file-text{display:block; float:left; width:220px; border:1px solid #ccc;height:20px;}
.btn_file{display:block; float:left; height:28px; border:1px solid #ccc; background:#ccc; width:80px;text-align:center; position:relative;}
.inp-file{position:absolute; width:100%;height:100%;left:0; top:0; padding:0; opacity:0; display:block; z-index:999;}
.breadcrumb{width:994px; padding-left:30px;margin-left:auto; margin-right:auto; height:25px; line-height:25px;}
.breadcrumb a{}
/* reg */
.reg_box{width:380px; margin-left:500px; margin-top:80px;margin-bottom:100px;}
.reg_box .input_group label{width:60px; text-align:right;float:left;padding:4px 0;}
.reg_btn{width:180px;height:30px; margin:10px auto; font-size:14px;display:block; font-weight:bold;}
.reg_type{padding:8px 10px;}
.inp-reg{width:150px;}
.type_chk{margin-left:40px;}
.type_chk input{margin-right:5px; vertical-align: middle;}
.input_company{display:none;}
.agreement{padding:20px 10px 20px 10px;}
.agreement_link{color:#00479D !important;}
.agreement_link:hover{text-decoration:underline;}

/* verify */
.verify_box{margin:50px auto 80px auto; width:800px;}
.verify_content{}
.verify_content .input_group label{width:160px;}
.verify_content .input_control{margin-left:165px;}
label.sex{margin-left:10px; margin-right:20px; width:60px; float:none;}
label.sex input{margin-right:5px; vertical-align: middle;}

/* retrieve */
.retrieve_box{margin:50px auto 80px auto; width:750px;  }
.retrieve_title{height:55px; padding-left:36px; font-size:18px; line-height:48px; background:url(../image/retrieve-bg.png) repeat-x; color:#fff; }
.retrieve_head{height:60px; padding:25px 30px;}
.retrieve_step{float:left; line-height:60px; font-size:16px; font-weight:bold;width:160px; margin-left:35px; margin-right:35px;}
.step_style{display:block;float:left; width:54px; padding-left:6px; height:60px; margin-right:10px; background:url(../image/retrieve-bg-2.png) 0 -80px no-repeat; text-align:center; font-size:32px; color:#fff; font-weight:normal; font-family:Verdana, Geneva, sans-serif;}
.retrieve_step.cur .step_style{background:url(../image/retrieve-bg-2.png) 0 0 no-repeat;}
.retrieve_step.cur{color:#ed6059;}
.retrieve_content{padding:20px 0;}
.retrieve_group{padding:8px 10px;}
.retrieve_group label{width:200px; text-align:right;float:left;padding:4px 0; font-size:15px; }
.retrieve_control{margin-left:220px;}
.inp-retrieve{font-size:16px; width:240px;}
.inp-authcode{width:140px;}
.authcode{width:80px; height:28px; margin-left:20px;}
.retrieve_btn{height:36px; font-size:14px; font-weight:bold; width:90px;margin-left:20px;;margin-right:20px;}
.btn-group{text-align:center; margin:30px auto 70px auto;}
.retrieve_tips{font-size:14px; width:460px;margin:20px auto; }
.success_tips{width:320px;}
.btn-recode{margin-left:20px;}

/* login */
.log_box{width:250px;margin-top:100px; margin-left:650px;}
.log_content{padding:25px;}
.inp-login{width:169px;padding-left:25px;margin-top:20px;}
#login_user{background:url(../image/login.png) 0 0 no-repeat;}
#login_pass{background:url(../image/login.png) 0 -25px no-repeat;}
.retrieve{padding:20px 10px 20px 10px;}
.retrieve::after{content:"";display:table; clear:both;}
.login_btn{display:block; width:100%; font-size:14px; font-weight:bold; height:36px;}

/* member */
/* public */
.mem_left{width:188px; border-width:2px 2px 0 2px; border-style:solid; border-color: #bebebe; background: #fff; float:left;}
.mem_main{margin-left:195px;}
.mem_menu{font-size:15px;}
.mem_menulink{display:inline-block; width: 100px; height:30px; line-height:30px; padding-left:28px; border-bottom:2px solid #bebebe; background:#eee; font-weight:bold;}
.mem_subtoggle{display:inline-block; width: 40px; height:30px; line-height:30px; text-align:center; border-bottom:2px solid #bebebe; padding-right:20px; background:#eee url(../image/arrow_bg.png) 0 -30px no-repeat; font-weight:bold;}
.mem_subtoggle.on{ background:#eee url(../image/arrow_bg.png) 0 0 no-repeat;}

.mem_submenu{margin:0; padding:0; list-style:none; border-bottom:2px solid #bebebe; padding:18px 0; display:none;}
.mem_submenu a{display:block; height:36px; line-height:36px; padding-left:38px; font-size:13px;}
.mem_submenu a:hover, .mem_submenu a.active{background:#eee;}
.mem_sub_title{font-size:16px; height:33px; line-height:33px; padding-left:30px; border-bottom:1px solid #00a0e9;}
.mem_content{margin-left:30px; margin-top:15px; }

/* member-index */
.welcome-box{padding-top:80px; height:300px; text-align:center; margin: 50px 30px; font-size:16px; background:#fff; border-radius: 10px; }

/* member-myInfo */
.info-box{width:678px; margin:25px auto; padding:30px 0 30px 100px; border:1px solid #bfbfbf; background:#fff;}
.info_group{padding:6px; font-size:14px; line-height:24px;}
.info_group label{width:120px; float:left;}
.info_control{margin-left:125px; font-size:13px;}
.info_txt{width:564px; min-height:180px; height:auto; border:1px solid #bfbfbf; padding:6px; resize:vertical; }
.info_btns{margin-top:25px; margin-bottom:25px; margin-left:90px;}
.info_btn{display:inline-block; width:100px; height:30px; font-size:14px; margin-left:60px; text-align:center; }
/* safety */
.safety_list{height:30px; padding:30px;}
.safety_list span{display:inline-block;}
.safe_name{width:250px; font-size:14px; font-weight:bold; line-height:30px;}
.safe_desc{width:250px; font-size:12px; line-height:30px;}
.safe_btn{text-align:center; }
.safe_btn .btn{display:inline-block; font-size:14px; height:24px; line-height:24px; width:80px; margin:0 auto; }
#safeBox{position:fixed; width:350px; height:240px; left:50%; top:50%; margin-left:-175px; margin-top:-120px; display:none;}
.sbox_head{height:50px; line-height:50px; background:#eaeaea; font-size:14px; padding:0 50px; position:relative;}
#sbox_close{position:absolute; line-height:20px; font-size:12px; display:block; width:42px; height:20px; text-align:center; right:20px;top:15px; background:#f9f9f9; color:#aaa;}
.sbox_body{width:248px; border:solid 1px #bfbfbf; border-top:none; background:#fff; padding:20px 50px; }
.sbox_body p{margin:15px 0; font-size:12px;}
.sbox_body p.t_center{text-align:center;}
.sbox_body a.sbox_btn{display:inline-block; border:solid 1px #bfbfbf; line-height:24px; background:#eaeaea; padding-left:20px; padding-right:20px;}
.sbox_body a.sbox_btn:hover{color:#060606;}
#code_flag{display:inline-block; width:16px; height:16px; border-top:3px solid #fff; }
#code_flag.success{background:url(../image/helpline.png) 0 -16px no-repeat;}
#code_flag.error{background:url(../image/helpline.png) 0 0 no-repeat;}




/* notice */
.notice-nav{ height:45px;list-style:none; background:#eee; border:2px solid #e5e5e5;}
.notice-nav li{ display:block; float:left;}
.notice_type_head{ display:block; font-size:12px; height:45px; line-height:45px; padding-left:24px; padding-right:24px; }
.notice-nav a{ display:block; font-size:14px; height:45px; line-height:45px; padding-left:24px; padding-right:24px; }
.notice-nav a:hover, .notice-nav a.active{background:#ed6057; color:#fff;}
.notice_list{width:750px; margin-top:5px; margin-left:auto; margin-right:auto; background:#fff;padding-top:15px; padding-bottom:80px;}
.notice_caption{height:50px; width:736px; margin-left:auto; margin-right:auto; border-left:solid 1px #fbfbfb; border-top: solid 1px #fcfafb; border-bottom: solid 1px #f1f2f3; border-right:solid 1px #ededed; background:#faf8f9;}
.notice_caption label{font-size:14px; line-height:50px;width:50px;padding:0 5px; text-align:right;}
.notice_caption button{vertical-align: middle; margin-left:40px; display:inline-block; width:80px; text-align:center; height:25px; border-top:solid 1px #e6e6e6; border-right:solid 2px #d1d0d2; border-bottom:solid 2px #dddbdc; border-left: solid 1px #eceaeb;;  background:#eee; cursor:pointer;}
.notice_caption button:hover{background:#ed6057; color:#fff;}
.notice_overview{float:right; display:block; height:50px; line-height:50px; margin-right:60px;}
.notice_overview a{ color:#00479d; font-size:13px;}
.notice_overview a:hover{text-decoration:underline;}
.notice_tab{ width:738px; margin-left:auto; margin-right:auto;list-style:none;}
.notice_tab li{height:40px; border-bottom: 2px solid #f8f8f8; }
.notice_tab li span{display:inline-block; padding:5px; height:30px; line-height: 30px;font-size:12px;}
.no_checkbox{width:50px; text-align:right;}
.no_subject{width:400px;}
.no_type{width:100px;}
.no_time{}
.pagenation{ width:736px; margin-left:auto; margin-right:auto; margin-top:;}
.page_info{height:50px; line-height:50px;}
.page_link{ height:40px;}
.page_link ul:empty{display:none;}
.page_link ul{float:right; border:1px solid #d5d5d5; border-right:none; margin-right:60px; height:40px;}
.page_link ul li{float:left;}
.page_link a{display:block; border-right:1px solid #d5d5d5; height:40px; width:40px; text-align:center; outline:none; background:#fff; font-size:20px; line-height:40px; }
a.p_active, .page_link a:hover{ background:#eee;}
a.p_first, a.p_last, a.p_up, a.p_down{display:none;}
a.p_next, a.p_prev{text-indent:-9999px;}
a.p_next{background:url(../image/page_bg.png) 0 -40px no-repeat;}
a.p_prev{background:url(../image/page_bg.png) 0 0 no-repeat;}
/* notice view*/
.notice_view_menu{height:45px; background:#eee;}
.notice_view_btns{float:left;}
.notice_view_btns a{display:inline-block; width:70px; line-height:25px; text-align:center; background:#fff; font-size:14px; height:25px; border:solid 1px #04479e; margin:9px 18px; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.notice_view_btns a:hover{ background:#E95E58; color:#fff;}
.notice_view_links{float:right; margin-right:50px; height:25px; margin-top:10px;}
.notice_view_links span{margin:0 20px; line-height:25px;}
.notice_view_links a{text-decoration:underline;}
.notice_view_head{padding: 30px 25px; background:#f4f4f4; margin-top:12px;}
.notice_view_title{font-size:16px;}
.notice_view_time{font-size:12px; margin-top:20px;}
.notice_view_content{padding:30px 40px 60px 40px; border-bottom: dashed 1px #585858;}

/* Duefee */
.due-box{width:760px; margin-bottom:40px;}
.due-box:after{display:table; content:""; clear:both;}
.due_info{width:180px; float:left; background:#fff;height:210px; padding:20px;}
.due_info_title{font-size:14px; line-height:20px; text-align:center;margin-bottom:25px; font-weight:bold;}
.due_info li{list-style:none; height:20px;}
.info_item{margin-right:10px;}
.duefee_status{margin-left:240px; height:150px; background:#fff; padding:50px 60px; font-size:15px}
.btn-due{width:80px; font-size:13px; display:block; height:24px; line-height:24px; margin-top:36px;}
.btn_view_records{font-size:13px; font-weight:normal; line-height:16px; color:#060606; -webkit-border-radius:5px; -moz-border-radius:5px;; border-radius:5px; margin-left:25px; padding:0 5px; width:37px; border:1px solid #060606;}
.due_record{display:none; margin-top:20px; background:#fff; width:760px;}
.due_record_caption, .due_records{padding-left:55px; padding-top:10px; padding-bottom:10px;}
.due_record_caption{border-bottom:1px dashed #b5b5b5}
.due_records li{margin-top:10px;}
.record_cap, .record_item{display:inline-block; width:150px;margin-left:20px;line-height:25px;}
.record_cap{font-size:13px;}
.record_item{font-size:12px;}
.due_white_box{width:760px; padding-bottom:20px; background:#fff; margin-bottom:10px;}
.due_title{font-size:13px; line-height:40px; height:40px;margin-left:25px; font-weight:bold;}
.due_form_group{padding:6px;}
.due_form_left{float:left; width:80px; text-align:right;line-height:23px;}
.due_form_right{margin-left:100px;line-height:23px;}
.radio_group{}
.radio_group label{margin-right:15px;}
.radio_group label input{margin-right:5px;}
.invoicetxt{border:1px solid #d0d0d0;padding:3px;width:480px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px;min-height:120px; height:auto; resize:vertical; }
.due_paytype{width:540px;margin:0 auto 20px auto;}
.due_paytype ul{padding:0; margin:0; list-style:none; }
.due_paytype li{width:180px; float:left;}
.payitem{display:inline-block; border:2px solid #fff; height:30px; cursor:pointer; line-height:30px;padding:0 10px;}
.payitem.check, .payitem:hover{border-color:#fa6c0d; }
.payitem input{display:none;}
.pay-btn{margin-left:110px; display:inline-block; width:90px; height:30px; text-align:center; font-size:15px;}
.pay-disabled{background:#ccc; color:#000 !important;}
.due_account{width: 355px; height:240px; float:left; background:#fff;}
.acc_t{height:30px; line-height:30px; font-size:14px; padding:25px 0 10px 0; text-align:center;}
.due_tips{width:370px; margin-left:370px; background:#fff; padding:10px; margin-bottom:40px;}
.tip_t{text-align:center;}
.tips_list{ margin:10px 20px;}
.tips_list li{line-height:24px; margin-top:10px;}








.modal-open .dropdown-menu {
  z-index: 2050;
}
.modal-open .dropdown.open {
  *z-index: 2050;
}
.modal-open .popover {
  z-index: 2060;
}
.modal-open .tooltip {
  z-index: 2070;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  /*overflow: auto;*/
  width: 560px;
  margin: -250px 0 0 -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -ms-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 50%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-body {
  /*overflow-y: auto;*/
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
