/* CSS Document */
*,body{margin:0; padding:0; font-family:微软雅黑, MS Yahei, Arial, sans-serif;}
body{background:#f9f9f9;}
html {font-size: 12px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
a{ text-decoration:none;}
a:focus {outline: thin dotted #333;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
a:hover,a:active, a:visited {outline: 0; color:#000;}
sub,sup {position: relative; font-size: 75%; line-height: 0; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {max-width: 100%;vertical-align: middle;border: 0;-ms-interpolation-mode: bicubic;}
button,input,select,textarea { margin: 0; font-size: 100%; vertical-align: middle;padding: 0;}
button,input { *overflow: visible; line-height: normal; border: 0;}
textarea { overflow: auto; vertical-align: top;}
.content{width:1024px; margin-left:auto; margin-right:auto;}
.left{float:left;}
.right{float:right;}
.hide{display:none;}
.clearfix { *zoom: 1;}
.clearfix:before,.clearfix:after { display: table; content: "";}
.clearfix:after { clear: both;}

/* header */
.top_nav{width:100%;height:31px; background:#eee;}
.top_nav_left,.top_nav_right{line-height:31px;}
.top_nav_left a,.top_nav_right a{margin-left:20px; margin-right:20px;}
.header{width:100%;height:46px;background:#fff;}
.logo{width:96px; height:46px; margin-left:30px;}
.headline{width:100%;height:3px;background:#00479D;}

/* footer */
.footer1{width:100%;background:#00479d;}
.footer2{width:100%;background:#002e73;}
.foot_links{line-height:40px;color:#fff;}
.foot_links a{color:#fff;margin-left:5px;margin-right:5px;}
.licence{color:#FACD89; margin:0; padding:0; line-height:55px; font-size:15px; text-indent:5px;}

/* public */
.box{border:1px solid #bfbfbf; border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
.box_title{height:42px; padding-left:36px; font-size:18px; font-weight:bold; line-height:42px; background:url(../image/title-bg.jpg) repeat-x;}
.box_content{}
.helpline{display:none; padding-left:16px;margin-left:5px;background-image:url(../image/helpline.png); background-repeat:no-repeat;}
.helpline.error{display:table; background-position:0 0;}
.helpline.success{display:table; background-position:0 -16px;}
.btn{background:#ED6059; color:#fff; box-shadow:inset rgba(0,0,0,0.2) 4px 8px 8px;border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; text-align:center}

/* reg */
.reg_box{width:340px; margin-left:500px; margin-top:80px;}
.reg_btn{width:200px;height:35px;line-height:35px; margin-left:auto; margin-right:auto; font-size:18px;display:block; font-weight:bold;}
